{% extends 'schedules/base.html' %} {% load static %}
{% block content %}


<div class="row row-cols-1 row-cols-md-2 g-4" style="height:80vh; background-color: transparent;">
  <div class="col">
    <div class="card" data-bs-toggle="modal" data-bs-target="#introModal">
      <img src="{% static 'schedules/images/intro.jpg'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Securious 란</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" data-bs-toggle="modal" data-bs-target="#purposeModal">
      <img src="{% static 'schedules/images/purpose.jpg'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">기획 의도</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" data-bs-toggle="modal" data-bs-target="#strongModal">
      <img src="{% static 'schedules/images/strong.jpg'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">특장점</h5>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" data-bs-toggle="modal" data-bs-target="#expectModal">
      <img src="{% static 'schedules/images/expect.jpg'%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">기대 효과</h5>
      </div>
    </div>
  </div>
</div>

{% include 'schedules/modals.html' %}

{% endblock content %}