<div class="modal fade" id="introModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Securious 란</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Securious는 Security + Curious의 합성어로써 정보보안 취업준비생들의 궁금증을 해결하기 위해 정보보안의 새로운 트렌드와 채용 정보를
        제공하는 통합 플랫폼입니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="purposeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">기획 의도</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        팀원들과의 브레인스토밍을 통해 정보보안 취업준비생들의 두가지 고충에 대해 알게 됐습니다. 첫번째는 끊임없이 발전하는 IT기술 트렌드 및 보안 이슈들을 따라가기 어렵다는점입니다. 두번째는 다양한 채용 사이트에 산재해
        있는 채용 정보로 인해 여러가지 사이트를 찾아다니는 것이 힘들다는 점 입니다. 위 두가지를 해결하고자 Securious가 탄생했습니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="strongModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">특장점</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Securious는 두가지 특징을 갖고 있습니다. 첫번째는 세가지 뉴스 플랫폼(보안뉴스, 데일리시큐, TheHackerNews)으로부터 최신의 기사들을 스크랩하여 제공합니다. 두번쨰는 두가지 채용 플랫폼(사람인,
        잡코리아)으로부터 정보보안 도메인에 맞는 채용정보를 제공합니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="expectModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">기대 효과</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        정보보안 취업준비생들이 취업준비 기간동안 IT트렌드, 보안이슈 및 채용정보를 찾아다니는 사회적 비용을 절감하여 본연의 직무를 준비하는데 집중할 수 있도록 도울 수 있습니다.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>